#body {
  height: 1000px;
  background-image: url("https://static.pexels.com/photos/163999/pexels-photo-163999.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#keyboard-dashboard, #music-dashboard {
  height: 50%;
}

#music-dashboard {
  display: flex;
  flex-direction: column;
}

#timer-dashboard {
  height: 29%;
  width: 20%;
  align-self: flex-end;
  background-color: #03A9F4;
  color: white;
}

.piano-key {
  height: 222px;
  background-color: white;
  width: 70px;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

#keyboard-dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#keyboard {
  display: flex;
}


.sharp-key {
  background-color: black;
  height: 127px;
  width: 36px;
  border: 1px solid;
  border-radius: 7px;
  position: absolute;
  left: 50px;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: center
}

.key-label {
  align-self: flex-end;
  margin-bottom: 10px;
}

.opacity {
  background-color: gray;
}


#timer-dashboard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#timer-holder {
  display: flex;
  justify-content: center;
}

.timer-heading {
  color: white;
  font: 24;
  font-family: sans-serif;
  margin-left: 8px;
}

#timer-buttons {
  display: flex;
}

.timer-button {
  margin: 4px 4px 4px 4px;
}

#record-button {
  background-image: url("../timer_buttons/record.png");
  height: 50px;
  width: 50px;
  background-size: contain;
}

#pause-button {
  background-image: url("../timer_buttons/pause.png");
  height: 50px;
  width: 50px;
  background-size: contain;
}

#stop-button {
  background-image: url("../timer_buttons/stop.png");
  height: 50px;
  width: 50px;
  background-size: contain;
}

#play-button {
    background-image: url("../timer_buttons/play.png");
    height: 50px;
    width: 50px;
    background-size: contain;
}
