#body {
  height: 1000px;
  background-image: url("https://static.pexels.com/photos/163999/pexels-photo-163999.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

#keyboard-dashboard, #music-dashboard {
  height: 50%;
}

#music-dashboard {
  display: flex;
  flex-direction: column;
}

#timer-dashboard {
  height: 29%;
  width: 20%;
  align-self: flex-end;
  background-color: #03A9F4;
  color: white;
}

.piano-key {
  height: 222px;
  background-color: white;
  width: 70px;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

#keyboard-dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#keyboard {
  display: flex;
}


.sharp-key {
  background-color: black;
  height: 127px;
  width: 36px;
  border: 1px solid;
  border-radius: 7px;
  position: absolute;
  left: 50px;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: center
}

.key-label {
  align-self: flex-end;
  margin-bottom: 10px;
}

.opacity {
  background-color: gray;
}


#timer-dashboard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#timer-holder {
  display: flex;
  justify-content: center;
}

.timer-heading {
  color: white;
  font: 24;
  font-family: sans-serif;
  margin-left: 8px;
}

#timer-buttons {
  display: flex;
}

.timer-button {
  margin: 4px 4px 4px 4px;
}

.timer-button:hover {
  cursor: pointer;
}

#record-button {
  background-image: url("../timer_buttons/record.png");
  height: 50px;
  width: 50px;
  background-size: contain;
}

#pause-button {
  background-image: url("../timer_buttons/pause.png");
  height: 50px;
  width: 50px;
  background-size: contain;
}



#stop-button {
  background-image: url("../timer_buttons/stop.png");
  height: 50px;
  width: 50px;
  background-size: contain;
}

#play-button {
    background-image: url("../timer_buttons/play.png");
    height: 50px;
    width: 50px;
    background-size: contain;
}

.soundboard {
  height: 100%;
  width: 90%;
  display: flex;
}

.soundboard-container {
  display: flex;
  justify-content: center;
  height: 73%;
  width: 100%;
  margin-top: 5px;

}

.instrument-selector {
  width: 14%;
  border-right: 5px solid white;
  background-color: #3C3C3C;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.add-instrument {
  height: 10%;
  width: 100%;
  align-self: flex-end;
  background-color: red;
  line-height: 9px;
}

.add-instrument:hover {
  cursor: pointer;
}

.sound-bytes {
  width: 86%;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
}


.dashboard-labels {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.instruments-modal-hidden {
  display: none
  height: 2%;
  width: 1%;
  position: absolute;
  top: 47%;
  left: 11%;
}

.instruments-modal-open {
  position: absolute;
  background-color: white;
  display: block;
}

.piano-image {
  background-image: url(../instruments_images/piano_image.png);
  background-size: contain;
  height: 100%;
  width: 100%;
}


.modal-image {
  display: none;
  background-size: 100%;
  height: 90px;
  width: 90px;
}

.modal-image:hover {
  cursor: pointer;
}

.instrument-label {
  height: 64px;
  width: 100%;
  border: solid 1px white;
  display: flex;
  margin-bottom: 1px;
}

.instrument-label:hover {
  cursor: pointer;
}

.instruments-container {
  height: 90%;
}

.sound-byte-container {
  height: 64px;
  width: 100%;
  border: solid 1px white;
  margin-bottom: 1px;
  position: relative;
}

.instrument-label-title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 20px;
}

.instrument-label-image-container {
  width: 28%;
}
.instrument-label-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.timer-ticker-background {
  height: 20px;
  width: 100%;
  background-color: gray;
}

#timer-ticker {
  background-color: gray;
  position: relative;
  border-radius: 2px;
  height: 20px;
  width: 1400px;
}

#timer-ticker:hover {
  cursor: pointer;
}

.sound-bytes-inner {
  height: 100%;
  width: 1400px;
  position: relative;
}

#cursor {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: green;
  z-index: 100;
}

.sound-byte-visual {
  height: 100%;
  width: 0px;
  position: absolute;
  border-radius: 21px;
  background-color: #FF7F7F;
}

.tick {
  position: absolute;
  background-color: white;
  height: 5px;
  width: 3px;
  top: 15px;
}

.tick-time {
  position: absolute;
  top: 2px;
  text-align: center;
  color: white;
  font-size: 10px;
}

.note {
  height: 2px;
  background-color: #735e5e;
  border-radius: 43px;
  position: absolute;
}
