#body {
  height: 1000px;
  background-image: url("https://static.pexels.com/photos/163999/pexels-photo-163999.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  font-family: 'Alegreya', serif;
}

#keyboard-dashboard, #music-dashboard {
  height: 50%;
}

#music-dashboard {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

#timer-dashboard {
  height: 13%;
  width: 90%;
  align-self: center;
  background-color: #232323;
  color: white;
}

.piano-key {
  height: 150px;
  background-color: white;
  width: 48px;
  border: .5px solid;
  border-radius: 9px;
  position: relative;
  display: flex;
  justify-content: center;
}

#keyboard-dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#octave-toggle-container {
  height: 21%;
  width: 38%;
  margin-top: 28px;
  display: flex;
}

#octave-increase {
}

#current-octave {
  background: orange;
}

#octave-decrease {
}

.octave-toggle-text {
  text-align: center;
  margin-bottom: 3px;
  font-size: 27px;
  line-height: 0px;
}

.octave-toggle-text:hover {
  cursor: pointer;
}


#keyboard {
  display: flex;
  top: 49%;
  position: absolute;
}

.octave-toggle {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
}

.octave-toggle:hover {
  cursor: pointer;
}


.sharp-key {
  background-color: black;
  height: 82px;
  width: 26px;
  border: 1px solid;
  border-radius: 7px;
  position: absolute;
  left: 35px;
  z-index: 2;
  color: white;
  display: flex;
  justify-content: center;
  top: -1px;
}

.key-label {
  align-self: flex-end;
  margin-bottom: 10px;
}

.key-label:hover {
  cursor: pointer;
}

.opacity {
  background-color: gray;
}

.piano-key:hover, sharp-key:hover {
  cursor: pointer;
}


#timer-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#timer-holder {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 33%;
  border-radius: 12px;
}

.timer-heading {
  font-size: 35px;
  font-family: 'Orbitron', sans-serif !important;
  margin-left: 8px;
  line-height: 50%;
  color: #00FF7F;
}

#timer-buttons {
  display: flex;
  justify-content: center;
  width: 33%;
  align-items: center;
}

.timer-button {
  margin: 4px 4px 4px 4px;
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.timer-button:hover {
  cursor: pointer;
}

#record-button {
  color: red;
  font-size: 28px;
}

#pause-button {
  height: 50px;
  width: 50px;
  background-size: contain;
}



#stop-button {
  height: 50px;
  width: 50px;
}

#play-button {
    height: 50px;
    width: 50px;
    background-size: contain;
}

.soundboard {
  height: 100%;
  width: 90%;
  display: flex;
}

.soundboard-container {
  display: flex;
  justify-content: center;
  height: 73%;
  width: 100%;
}

.instrument-selector {
  width: 14%;
  border-right: 5px solid white;
  background-color: #3C3C3C;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.add-instrument {
  height: 10%;
  width: 100%;
  align-self: flex-end;
  background-color: red;
  border-radius: 5px;
  line-height: 9px;
}

.add-instrument:hover {
  cursor: pointer;
}

.sound-bytes {
  width: 86%;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  border-radius: 0px 0px 11px 11px;
}


.dashboard-labels {
  color: white;
  font-family: 'Alegreya', serif;  font-size: 20px;
  text-align: center;
}

.instruments-modal-hidden {
  display: none;
  height: 2%;
  width: 1%;
  position: absolute;
  top: 47%;
  left: 11%;
}

.instruments-modal-open {
  position: absolute;
  background-color: black;
  display: flex;
  z-index: 13;
  border-radius: 26px;
}

.piano-image {
  background-image: url(../instruments_images/piano_image.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.violin-image {
  background-image: url(../instruments_images/violin_image.png);
  background-size: contain;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.modal-image {
  display: none;
  background-size: 100%;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}

.modal-image:hover {
  cursor: pointer;
}

.instrument-label {
  height: 64px;
  width: 100%;
  border: solid 1px white;
  display: flex;
  margin-bottom: 1px;
}

.instrument-label:hover,
.sound-byte-visual:hover,
 #split-recording:hover,
 #delete-recording:hover,
 #copy-recording:hover,
 #paste-recording:hover
  {
  cursor: pointer;
}

.instruments-container {
  height: 90%;
  border-radius: 27px;
}

.sound-byte-container {
  height: 64px;
  width: 100%;
  border: solid 1px white;
  margin-bottom: 1px;
  position: relative;
}

.instrument-label-title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 20px;
}

.instrument-label-image-container {
  width: 28%;
}
.instrument-label-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.timer-ticker-background {
  height: 20px;
  width: 100%;
  background-color: #444444;
  border-radius: 6px;
}

#timer-ticker {
  background-color: #444444;
  position: relative;
  border-radius: 2px;
  height: 20px;
  width: 1400px;
}

#timer-ticker:hover {
  cursor: pointer;
}

.sound-bytes-inner {
  height: 100%;
  width: 1400px;
  position: relative;
}

#cursor {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: green;
  z-index: 100;
}

.sound-byte-visual {
  height: 100%;
  width: 0px;
  position: absolute;
  border-radius: 14px;
  background-color: #FF7F7F;
}

.tick {
  position: absolute;
  background-color: white;
  height: 5px;
  width: 3px;
  top: 15px;
}

.tick-time {
  position: absolute;
  top: 0px;
  text-align: center;
  color: white;
  font-size: 11px;
}

.note {
  height: 2px;
  background-color: #735e5e;
  border-radius: 43px;
  position: absolute;
}

.selected-recording {
  background-color: orange !important;
}

#recording-buttons {
  display: flex;
  justify-content: center;
  width: 33%;
  align-items: center;
}

.copied-recording {
  border: 2px dashed white;
}

.sound-bytes::-webkit-scrollbar {
    width: 0em;
    border-radius: 20px;
}

.sound-bytes::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.sound-bytes::-webkit-scrollbar-thumb {
  background-color: #444444;
  outline: 1px solid slategrey;
  border-radius: 20px;
}

.recording-button {
  color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-left: 20px;
}

#keyboard-holder {
  height: 282px;
  background: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 748px;
  align-items: center;
  border-radius: 20px;
  position: relative;
  border: 2px solid;
}

.octave-number-container {
  display: flex;
  font-family: 'Orbitron', sans-serif !important;
  color: #00FF7F;
  flex-direction: column;
}

.octave-heading {
  font-size: 12px;
  margin: 10px 0px 0px 0px;
}

#octave-container {
  display: flex;
}

.octave-button {
  margin-top: 12px;
}

.title-heading {
  font-family: 'Audiowide', cursive !important;
  color: white;
  margin: 11px;
}

.links {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-right: 5%;
}

.dev-link {
  font-size: 40px;
  color: white;
}
